<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="login-form">
            <h1>Welcome {{ account['username'] }}!</h1>
            <p>Your new account balance is ${{ new_amount }}</p>
            {% if deposit %}
            <h2>You succesfully deposited ${{ amount }}</h2>
            {% else %}
            <h2>You succesfully withdrawed ${{ amount }}</h2>
            {% endif %}
            <a action="/login" href="dashboard">Back to dashboard</a>
        </div>
    </div>
</body>
</html>
